        <ul class="subpage__bread__crumps">
            <li class="bread__crumps__next__item"><a class="bread__crumps__next__item__link" href="/index.html">Головна</a>
                <i class="icon icon_arrow_bl"></i></li>
            <li class="bread__crumps__next__item"><a class="bread__crumps__next__item__link" href="#">Про суд</a>
                <i class="icon icon_arrow_bl"></i></li>
            <li class="bread__crumps__next__item"><a class="bread__crumps__next__item__link" href="#">Історія
                    суду</a></i>
            </li>
        </ul>