<div class="section section__first">
    <header>
        <ul class="header__menu part1">
            <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                        Громадянам</span></a>
            </li>
            <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                        Судово-адміністративні послуги</span></a></li>
            <li class="menu__item last"><a class="menu__item__link" href="#"><span class="menu__item__text">
                        ЄСПЛ</span><i class="icon icon_ehcd"></i></i></a></li>
        </ul>
        <a href="#" class="header__logo"><img src="./img/logo_w.png" alt=""></a>
        <ul class="header__menu part2">
            <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text"> Діяльність
                        суду</span></a>
            </li>
            <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                        Прес-служба</span></a></li>
            <li class="menu__item last"><a class="menu__item__link" href="#"><span class="menu__item__text">
                        Контакти</span></i></a></li>
        </ul>
    </header>
    <ul class="side__menu__block">
        <li class="side__menu__item side__menu__call"><a href="#"><i class="icon icon_menu_w"></i><span
                    class="side__menu__item__text">МЕНЮ</span></a></li>
        <li class="side__menu__item eye"><a href="#"><i class="icon icon_eye_w"></i></a></li>
        <li class="side__menu__item search"><a href="#"><i class="icon icon_search_w"></i></a></li>
        <li class="side__menu__item flag"><a href="#"><i class="icon icon_flag_ua"></i></a></li>
    </ul>
    <div class="header__keyfrase">
        <h1>Сьомий апеляційний
            адміністративний суд</h1>
        <h3>
            На захисті прав і свобод</h3>
    </div>
    <a class="header__button" href="#"><i class="icon icon_arrow_dwn_b"></i></a>
</div>