<footer class="section section_last">
    <div class="content">
        <ul class="side__menu__block mobile">
            <li class="side__menu__item logo"><a href="/index.html" class="side__menu__logo"><img src="./img/logo_w.png"
                        alt=""></a></li>
            <li class="side__menu__item side__menu__call"><a href="#" tabindex="-1"><i
                        class="icon icon_menu_w"></i><span class="side__menu__item__text">МЕНЮ</span></a></li>
            <li class="side__menu__item eye"><a href="#" tabindex="-1"><i class="icon icon_eye_w"></i></a></li>
            <li class="side__menu__item search"><a href="#" tabindex="-1"><i class="icon icon_search_w"></i></a></li>
            <li class="side__menu__item flag"><a href="#" tabindex="-1"><i class="icon icon_flag_ua"></i></a></li>
        </ul>
        <div class="footer__menu__block menu__nav">
            <!-- <div class="footer__menu__block footer_nav"> -->
            <h4 class="footer__menu__title">Навігація</h4>
            <ul class="footer__menu__section">
                <li class="footer__menu__item"><a class="footer__menu__item__text" href="/subpage.html">Громадянам</a>
                </li>
                <li class="footer__menu__item"><a class="footer__menu__item__text" href="/subpage.html">Судово -
                        адміністративні послуги</a></li>
                <li class="footer__menu__item"><a class="footer__menu__item__text" href="/subpage.html">Діяльність
                        суду</a>
                </li>
                <li class="footer__menu__item"><a class="footer__menu__item__text" href="/subpage.html">Прес-служба</a>
                </li>
                <li class="footer__menu__item"><a class="footer__menu__item__text" href="/subpage.html">ЄСПЛ</a></li>
                <li class="footer__menu__item"><a class="footer__menu__item__text" href="/subpage.html">Новини</a></li>
            </ul>
        </div>
        <div class="footer__menu__block menu__contacts">
            <h4 class="footer__menu__title pc">КОНТАКТИ</h4>
            <ul class="footer__menu__section">
                <li class="footer__menu__item pc"><a class="footer__menu__item__text" href="#">Пн-Пт: з 8:30 до
                        17:00
                        </br>
                        Перерва 12:30 - 13:00</a></li>
                <li class="footer__menu__item pc">
                    <a class="footer__menu__item__text" href="tel:+380432551555">
                        <span class="footer__menu__item__text_small">Телефон довіри:</span>
                        <span class="footer__menu__item__text_imp">+38(0432)55-15-55</span>
                    </a>
                </li>
                <li class="footer__menu__item">
                    <div class="footer__menu__item__text">
                        <span class="footer__menu__item__text_small">Месенжери:</span>
                        <span class="footer__menu__item__text_imp">+38(068)841-78-44
                            </br>
                            <a href="https://t.me/Seven_AAC_Info">
                                <i class="icon icon_s_telegram_g"></i>
                            </a>
                            <a class="social_m" href="#">
                                <i class="icon icon_s_viber_g"></i>
                            </a>
                            <a class="social_m" href="#">
                                <i class="icon icon_s_whatsapp_g"></i>
                            </a>
                        </span>
                    </div>
                </li>
                <li class="footer__menu__item">
                    <a class="footer__menu__item__text_imp"
                        href="mailto:inbox@7aa.count.gov.ua">inbox@7aa.count.gov.ua</a>
                </li>
                <li class="footer__menu__item social__items">
                    <span class="footer__menu__item__text_small">Соціальні мережі:</span>
                    <a class="footer__menu__item__text_imp_social" href="https://www.facebook.com/7aas.gov.ua/">
                        <i class="icon icon_s_facebook_w"></i>
                    </a>
                    <a class="footer__menu__item__text_imp_social"
                        href="https://www.instagram.com/vinnytsia_administrative_court/">
                        <i class="icon icon_s_instagram_w"></i>
                    </a>
                    <a class="footer__menu__item__text_imp_social" href="https://www.youtube.com/user/vaascourt">
                        <i class="icon icon_s_youtube_w"></i>
                    </a>
                    <a class="footer__menu__item__text_imp_social" href="https://t.me/Info_VAAS">
                        <i class="icon icon_s_telegram_w"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__menu__block menu__map">
            <h4 class="footer__menu__title">ЯК НАС ЗНАЙТИ</h4>
            <a href="https://goo.gl/maps/DrnNdxnuV6eHpybZA" class="footer__menu__map">
                <img src="./img/map_local.png" alt="map_local_where">
            </a>
            <a href="https://goo.gl/maps/DrnNdxnuV6eHpybZA" class="button button_more">
                <div class="button__text">Показати на карті</div>
            </a>
        </div>
        <a href="https://goo.gl/maps/DrnNdxnuV6eHpybZA" class="button button_more mobile">
            <div class="button__text">Показати на карті</div>
        </a>
    </div>

    <ul class="partner__slider">
        <li>
            <a class="pic" href="http://www.gip-jci-justice.fr/en/" data-tooltip="Justice Coopération Internationale"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f79/114/5aef791141133460228839.png);"></a>
        </li>
        <li>
            <a class="pic" href="https://www.expertisefrance.fr/" data-tooltip="Expertise France"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f78/cdd/5aef78cdd6601401084012.png);"></a>
        </li>
        <li>
            <a class="pic" href="https://www.cpva.lt/en/home.html"
                data-tooltip="Lithuanian Central Project Management Agency"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f79/576/5aef795763e0c372450559.png);"></a>
        </li>
        <li>
            <a class="pic" href="https://www.dcaf.ch/"
                data-tooltip="Geneva Centre for the Democratic Control of Armed Forces (DCAF)"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f79/97e/5aef7997e8f27237615567.png);"></a>
        </li>
        <li>
            <a class="pic" href="http://www.cfi.fr/en" data-tooltip="Canal France International"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f79/bf5/5aef79bf5fb8e723536848.png);"></a>
        </li>
        <li>
            <a class="pic" href="https://minjust.gov.ua/" data-tooltip="Ministry of Justice of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7a/55c/5aef7a55c06ac334792172.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://www.president.gov.ua/en"
                data-tooltip="The Presidential Administration of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7a/ea9/5aef7aea92c81706111242.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://www.kvs.gov.ua/peniten/control/main/en/index"
                data-tooltip="The State Penitentiary Service of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7b/990/5aef7b990e581338539569.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://en.gp.gov.ua/ua/index.html"
                data-tooltip="Prosecutor General’s Office of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7c/238/5aef7c23852b2853044944.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://en.unba.org.ua/" data-tooltip="Ukrainian National Bar Association"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7c/7bd/5aef7c7bda61d384473667.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://legalaid.gov.ua/en/contacts" data-tooltip="Coordination Centre for Legal Aid"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7c/f23/5aef7cf236c6c891388191.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://www.scourt.gov.ua/clients/vsen.nsf/(firstview)/index.html"
                data-tooltip="Supreme Court of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7d/295/5aef7d2958580836354413.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://www.ccu.gov.ua/en/" data-tooltip="Constitutional Court of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7d/8d2/5aef7d8d2e1ef284660754.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://rsu.gov.ua/en/" data-tooltip="Council of Judges of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7d/bd9/5aef7dbd9e2d1419278579.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://sc.gov.ua/en/index.html" data-tooltip="Higher Specialized Courts of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7d/fa3/5aef7dfa363e2931132540.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://dsa.court.gov.ua/dsa/" data-tooltip="The State Court Administration"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7e/3c4/5aef7e3c4f4f5255175001.jpg);"></a>
        </li>
        <li>
            <a class="pic" href="http://www.nsj.gov.ua/" data-tooltip="National School of Judges of Ukraine"
                style="background-image: url(https://www.pravojustice.eu/storage/app/uploads/public/5ae/f7e/cf2/5aef7ecf2c53e785678564.jpg);"></a>
        </li>
    </ul>

    <div class="footer__corp__line">
        <a href="#" class="footer__corp__owner">All rights reserved. 7AAC 2019</a>
        <a href="#" class="footer__corp__designer">Design by <span>Winstars</span></a>
    </div>
</footer>