<ul class="side__menu__block mobile">
        <li class="side__menu__item logo"><a href="/index.html" class="side__menu__logo"><img src="./img/logo_w.png" alt=""></a></li>
    <li class="side__menu__item side__menu__call"><a href="#" tabindex="-1"><i
                class="icon icon_menu_w"></i><span class="side__menu__item__text">МЕНЮ</span></a></li>
    <li class="side__menu__item eye"><a href="#" tabindex="-1"><i class="icon icon_eye_w"></i></a></li>
    <li class="side__menu__item search"><a href="#" tabindex="-1"><i class="icon icon_search_w"></i></a></li>
    <li class="side__menu__item flag"><a href="#" tabindex="-1"><i class="icon icon_flag_ua"></i></a></li>
</ul>