<div class="section section__services">

    <div class="content">
        <div class="services__block">
            <div class="services__title">
                <h2 class="services__title">Судово - адміністративна діяльність</h2>
            </div>
            <div class="services__section">
                <a href="#" class="services__item">
                    <i class="icon icon_b_ter_g"></i>
                    <div class="services__item__text">Судово-адміністративні послуги</div>
                    <i class="icon icon_arrow_w"></i>
                </a>
                <a href="/video.html" class="services__item">
                    <i class="icon icon_b_cam_g"></i>
                    <div class="services__item__text">Трансляція засідань </div>
                    <i class="icon icon_arrow_w"></i>
                </a>
                <a href="http://test.vaas.gov.ua" class="services__item">
                    <i class="icon icon_b_list_g"></i>
                    <div class="services__item__text">Графік розгляду справ</div>
                    <i class="icon icon_arrow_w"></i>
                </a>
                <a href="#" class="services__item">
                    <i class="icon icon_b_money_g"></i>
                    <div class="services__item__text">Судовий збір</div>
                    <i class="icon icon_arrow_w"></i>
                </a>
            </div>
        </div>
    </div>
</div>