<div class="section section__news_trial">
    <div class="content">
        <div class="news__trial__slider__block">
            <h2 class="news__trial__slider__title">7AAC: “Із залу судового засідання”</h2>
            <div class="news__trial__slider">
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group.png" alt=""></div>
                    <div class="news__trial__item__date">10 квітня</div>
                    <div class="news__trial__item__text">ПРЕС-АНОНС Всеукраїнського семінару-практикуму
                        «Застосування
                        виборчого
                        законодавства»</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group-1.png" alt=""></div>
                    <div class="news__trial__item__date">04 квітня</div>
                    <div class="news__trial__item__text">Перекриття проїзду, проходу загального користування є
                        порушенням
                        умов
                        благоустрою</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group-2.png" alt=""></div>
                    <div class="news__trial__item__date">02 квітня</div>
                    <div class="news__trial__item__text">Вектор Ньюз: У Сьомому апеляційному адмінсуді проходить
                        художня
                        виставка</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group.png" alt=""></div>
                    <div class="news__trial__item__date">10 квітня</div>
                    <div class="news__trial__item__text">ПРЕС-АНОНС Всеукраїнського семінару-практикуму
                        «Застосування
                        виборчого
                        законодавства»</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group-1.png" alt=""></div>
                    <div class="news__trial__item__date">04 квітня</div>
                    <div class="news__trial__item__text">Перекриття проїзду, проходу загального користування є
                        порушенням
                        умов
                        благоустрою</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group-2.png" alt=""></div>
                    <div class="news__trial__item__date">02 квітня</div>
                    <div class="news__trial__item__text">Вектор Ньюз: У Сьомому апеляційному адмінсуді проходить
                        художня
                        виставка</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group.png" alt=""></div>
                    <div class="news__trial__item__date">10 квітня</div>
                    <div class="news__trial__item__text">ПРЕС-АНОНС Всеукраїнського семінару-практикуму
                        «Застосування
                        виборчого
                        законодавства»</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group-1.png" alt=""></div>
                    <div class="news__trial__item__date">04 квітня</div>
                    <div class="news__trial__item__text">Перекриття проїзду, проходу загального користування є
                        порушенням
                        умов
                        благоустрою</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group-2.png" alt=""></div>
                    <div class="news__trial__item__date">02 квітня</div>
                    <div class="news__trial__item__text">Вектор Ньюз: У Сьомому апеляційному адмінсуді проходить
                        художня
                        виставка</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group.png" alt=""></div>
                    <div class="news__trial__item__date">10 квітня</div>
                    <div class="news__trial__item__text">ПРЕС-АНОНС Всеукраїнського семінару-практикуму
                        «Застосування
                        виборчого
                        законодавства»</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group-1.png" alt=""></div>
                    <div class="news__trial__item__date">04 квітня</div>
                    <div class="news__trial__item__text">Перекриття проїзду, проходу загального користування є
                        порушенням
                        умов
                        благоустрою</div>
                </a>
                <a href="/subpage_news.html" class="news__trial__item">
                    <div class="news__trial__item__img"><img src="./img/Mask Group-2.png" alt=""></div>
                    <div class="news__trial__item__date">02 квітня</div>
                    <div class="news__trial__item__text">Вектор Ньюз: У Сьомому апеляційному адмінсуді проходить
                        художня
                        виставка</div>
                </a>
            </div>
            <a href="#" class="button button_more">
                <div class="button__text">БІЛЬШЕ СУДОВИХ ПРОЦЕСІВ</div>
            </a>
        </div>
    </div>
</div>