<ul class="side__menu__block side__menu__block_v2">
    <li class="side__menu__item logo"><a href="/index.html" class="side__menu__logo"><img src="./img/logo_g.png" alt=""></a></li>
    <li class="side__menu__item side__menu__call"><a href="#"><i class="icon icon_menu_g"></i></a></li>
    <li class="side__menu__item eye"><a href="#"><i class="icon icon_eye_g"></i></a></li>
    <li class="side__menu__item search"><a href="#"><i class="icon icon_search_g"></i></a></li>
    <li class="side__menu__item flag"><a href="#"><i class="icon icon_flag_ua"></i></a></li>
</ul>