<div class="section section__subpage">
    <div class="content">
        <header>
            <ul class="header__menu part1">
                <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                            Громадянам</span> <i class="icon icon_arrow_sm_bl"></i></a>
                </li>
                <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                            Судово-адміністративні послуги</span> <i class="icon icon_arrow_sm_bl"></i></a></li>
                <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text"> Діяльність
                            суду</span> <i class="icon icon_arrow_sm_bl"></i></a>
                </li>
                <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                            Прес-служба</span> <i class="icon icon_arrow_sm_bl"></i></a></li>
                <li class="menu__item last"><a class="menu__item__link" href="#"><i class="icon icon_ehcd"></i><span
                            class="menu__item__text">
                            ЄСПЛ</span></a></li>
            </ul>
        </header>

        <ul class="subpage__bread__crumps">
            <li class="bread__crumps__next__item"><a class="bread__crumps__next__item__link" href="/index.html">Головна</a>
                <i class="icon icon_arrow_bl"></i></li>
            <li class="bread__crumps__next__item"><a class="bread__crumps__next__item__link"
                    href="#">Прес-служба</a></i>
            </li>
        </ul>

        <h1><span class="title_subpage">Прес-служба</span></h1>

        <ul class="header__menu part2">
            <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                        Громадянам</span> <i class="icon icon_arrow_sm_bl"></i></a>
            </li>
            <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                        Судово-адміністративні послуги</span> <i class="icon icon_arrow_sm_bl"></i></a></li>
            <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text"> Діяльність
                        суду</span> <i class="icon icon_arrow_sm_bl"></i></a>
            </li>
            <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                        Прес-служба</span> <i class="icon icon_arrow_sm_bl"></i></a></li>

        </ul>

        <div class="subpage__article__text">

            <p> Для забезпечення прозорості судової системи та підвищення авторитету судової влади Сьомий апеляційний
                адміністративний суд має на меті побудову партнерських стосунків та налагодження тісної співпраці із
                засобами масової інформації.
            </p>
            <p> Засоби масової інформації (ЗМІ) – преса (газети, журнали, книги), радіо, телебачення, інтернет,
                кінематограф, звукозаписи та відеозаписи, відеотекст, телетекст, рекламні щити та панелі, домашні
                відеоцентри, що поєднують телевізійні, телефонні, комп’ютерні та інші лінії зв’язку.
            </p>
            <p> Всім цим засобам притаманні якості, що їх об’єднують – звернення до масової аудиторії, доступність
                багатьом людям, корпоративний зміст виробництва і розповсюдження інформації.
            </p>
            <p> Висвітлювати офіційну позицію від імені Сьомого апеляційного адміністративного суду, надавати спеціальні
                професійні коментарі щодо розгляду апеляційним судом справ у 7ААС доручено суддям-спікерам – Богдану
                Монічу, Тетяні Драчук та Андрію Загороднюку.
            </p>

        </div>
    </div>

</div>