<div class="section section__subpage">
    <div class="content">
        <header>
            <ul class="header__menu part1">
                <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                            Громадянам</span> <i class="icon icon_arrow_sm_bl"></i></a>
                </li>
                <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                            Судово-адміністративні послуги</span> <i class="icon icon_arrow_sm_bl"></i></a></li>
                <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text"> Діяльність
                            суду</span> <i class="icon icon_arrow_sm_bl"></i></a>
                </li>
                <li class="menu__item"><a class="menu__item__link" href="#"><span class="menu__item__text">
                            Прес-служба</span> <i class="icon icon_arrow_sm_bl"></i></a></li>
                <li class="menu__item last"><a class="menu__item__link" href="#"><i class="icon icon_ehcd"></i><span
                            class="menu__item__text">
                            ЄСПЛ</span></a></li>
            </ul>
        </header>

        <ul class="subpage__bread__crumps">
            <li class="bread__crumps__next__item"><a class="bread__crumps__next__item__link"
                    href="/index.html">Головна</a>
                <i class="icon icon_arrow_bl"></i></li>
            <li class="bread__crumps__next__item"><a class="bread__crumps__next__item__link" href="#">Трансляція судових
                    засідань</a></i>
            </li>
        </ul>

        <h1><span class="title_subpage">Трансляція судових засідань</span></h1>

        <div class="subpage__article__text section_video">
            <div class="video__item">
                <div class="video__item__title"> зал №1</div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dKZFlj4XA1o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <video src="https://youtu.be/dKZFlj4XA1o" controls></video> -->
            </div>

            <div class="video__item">
                <div class="video__item__title"> зал №2</div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dKZFlj4XA1o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <video src="" controls></video> -->
            </div>

            <div class="video__item">
                <div class="video__item__title"> зал №3</div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dKZFlj4XA1o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <video src="" controls></video> -->
            </div>

            <div class="video__item">
                <div class="video__item__title"> зал №4</div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dKZFlj4XA1o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <video src="" controls></video> -->
            </div>
        </div>
    </div>

</div>