<div class="header__menu__top_h">
    <div class="menu__top__line">
        <ul class="header__menu__top part1">
            <li id="sm1" class="menu__top__item">
                <a class="menu__top__item__link" href="/subpage.html">
                    <span class="menu__top__item__text">Громадянам</span>
                    <i class="icon icon_arrow_sm_bl"></i>
                </a>
            </li>
            <li id="sm2" class="menu__top__item">
                <a class="menu__top__item__link" href="/subpage.html">
                    <span class="menu__top__item__text">Судово-адміністративні послуги</span>
                    <i class="icon icon_arrow_sm_bl"></i>
                </a>
            </li>
        </ul>
        <a href="#" class="header__logo"><img src="./img/logo_b.png" alt=""></a>
        <ul class="header__menu__top part2">
            <li id="sm3" class="menu__top__item">
                <a class="menu__top__item__link" href="/subpage.html">
                    <span class="menu__top__item__text"> Діяльність суду</span>
                    <i class="icon icon_arrow_sm_bl"></i>
                </a>
            </li>
            <li id="sm4" class="menu__top__item">
                <a class="menu__top__item__link" href="/subpage.html">
                    <span class="menu__top__item__text">Прес-служба</span>
                    <i class="icon icon_arrow_sm_bl"></i>
                </a>
            </li>
            <li id="sm5" class="menu__top__item last">
                <a class="menu__top__item__link" href="/subpage.html">
                    <span class="menu__top__item__text">ЄСПЛ</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu__sub__line">
        <ul class="menu__sub__section" id="sm1s">
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Кадрове забезпечення
                    7ААС</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Міжнародна діяльність</a>
            </li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Психологічний супровід
                    діяльності суду</a></li>
        </ul>
        <ul class="menu__sub__section" id="sm2s">
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Кадрове забезпечення
                    7ААС2</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Міжнародна діяльність</a>
            </li>

            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Бюджет-Фінанси</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Електронна копія
                    декларацій</a></li>
        </ul>
        <ul class="menu__sub__section" id="sm3s">
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Кадрове забезпечення
                    7ААС3</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Міжнародна діяльність</a>
            </li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Психологічний супровід
                    діяльності суду</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Виконання вимог ЗУ “Про
                    очищення влади”</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Державні закупівлі</a>
            </li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Бюджет-Фінанси</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Електронна копія
                    декларацій</a></li>
        </ul>
        <ul class="menu__sub__section" id="sm4s">

            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Державні закупівлі</a>
            </li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Бюджет-Фінанси</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Електронна копія
                    декларацій</a></li>
        </ul>
        <ul class="menu__sub__section" id="sm5s">

            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Психологічний супровід
                    діяльності суду</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Виконання вимог ЗУ “Про
                    очищення влади”</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Державні закупівлі</a>
            </li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Бюджет-Фінанси</a></li>
            <li class="menu__sub__item"><a class="menu__sub__item__link" href="/subpage.html">Електронна копія
                    декларацій</a></li>
        </ul>
    </div>
</div>