@font-face {
    font-family: 'museosans';
    src: local('../fonts/museosanscyrl-5'), url('../fonts/museosanscyrl-5.woff2') format('woff2'), url('../fonts/museosanscyrl-5.woff') format('woff'), url('../fonts/museosanscyrl-5.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'museosans';
    src: local('../fonts/museosanscyrl-7'), url('../fonts/museosanscyrl-7.woff2') format('woff2'), url('../fonts/museosanscyrl-7.woff') format('woff'), url('../fonts/museosanscyrl-7.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'timesnewroman';
    src: local('../fonts/timesbd'), url('../fonts/timesbd.woff2') format('woff2'), url('../fonts/timesbd.woff') format('woff'), url('../fonts/timesbd.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
