.icon_arrow_bl {
    width: 6px; height: 9px;
    background: url('../img/css_sprites.png') -10px -62px;
}
.icon_arrow_dwn_b {
    width: 8px; height: 43px;
    background: url('../img/css_sprites.png') -10px -1549px;
}
.icon_arrow_gr {
    width: 54px; height: 12px;
    background: url('../img/css_sprites.png') -10px -91px;
}
.icon_arrow_lg_b {
    width: 51px; height: 12px;
    background: url('../img/css_sprites.png') -10px -123px;
}
.icon_arrow_sm_bl {
    width: 10px; height: 6px;
    background: url('../img/css_sprites.png') -10px -10px;
}
.icon_arrow_sm_w {
    width: 10px; height: 6px;
    background: url('../img/css_sprites.png') -10px -36px;
}
.icon_arrow_w {
    width: 51px; height: 12px;
    background: url('../img/css_sprites.png') -10px -155px;
}
.icon_b_cam_g {
    width: 48px; height: 48px;
    background: url('../img/css_sprites.png') -10px -1742px;
}
.icon_b_list_g {
    width: 48px; height: 48px;
    background: url('../img/css_sprites.png') -10px -1810px;
}
.icon_b_logo_map {
    width: 49px; height: 54px;
    background: url('../img/css_sprites.png') -10px -2014px;
}
.icon_b_money_g {
    width: 48px; height: 48px;
    background: url('../img/css_sprites.png') -10px -1878px;
}
.icon_b_ter_g {
    width: 48px; height: 48px;
    background: url('../img/css_sprites.png') -10px -1946px;
}
.icon_eye_g {
    width: 24px; height: 18px;
    background: url('../img/css_sprites.png') -10px -258px;
}
.icon_eye_w {
    width: 24px; height: 18px;
    background: url('../img/css_sprites.png') -10px -296px;
}
.icon_flag_ua {
    width: 24px; height: 18px;
    background: url('../img/css_sprites.png') -10px -334px;
}
.icon_flag_us {
    width: 24px; height: 18px;
    background: url('../img/css_sprites.png') -10px -372px;
}
.icon_mail_b {
    width: 18px; height: 16px;
    background: url('../img/css_sprites.png') -10px -222px;
}
.icon_map_point_b {
    width: 17px; height: 20px;
    background: url('../img/css_sprites.png') -10px -715px;
}
.icon_menu_g {
    width: 28px; height: 23px;
    background: url('../img/css_sprites.png') -10px -878px;
}
.icon_menu_w {
    width: 28px; height: 23px;
    background: url('../img/css_sprites.png') -10px -921px;
}
.icon_phone_b {
    width: 18px; height: 18px;
    background: url('../img/css_sprites.png') -10px -410px;
}
.icon_s_facebook_b {
    width: 24px; height: 24px;
    background: url('../img/css_sprites.png') -10px -964px;
}
.icon_s_facebook_w {
    width: 21px; height: 21px;
    background: url('../img/css_sprites.png') -10px -755px;
}
.icon_s_instagram_b {
    width: 21px; height: 21px;
    background: url('../img/css_sprites.png') -10px -796px;
}
.icon_s_instagram_w {
    width: 21px; height: 21px;
    background: url('../img/css_sprites.png') -10px -837px;
}
.icon_s_telegram_b {
    width: 24px; height: 24px;
    background: url('../img/css_sprites.png') -10px -1008px;
}
.icon_s_telegram_g {
    width: 15px; height: 15px;
    background: url('../img/css_sprites.png') -10px -187px;
}
.icon_s_telegram_w {
    width: 18px; height: 18px;
    background: url('../img/css_sprites.png') -10px -448px;
}
.icon_s_viber_g {
    width: 28px; height: 28px;
    background: url('../img/css_sprites.png') -10px -1141px;
}
.icon_s_whatsapp_g {
    width: 18px; height: 18px;
    background: url('../img/css_sprites.png') -10px -486px;
}
.icon_s_youtube_b {
    width: 23px; height: 24px;
    background: url('../img/css_sprites.png') -10px -1052px;
}
.icon_s_youtube_w {
    width: 18px; height: 19px;
    background: url('../img/css_sprites.png') -10px -676px;
}
.icon_search_g {
    width: 18px; height: 18px;
    background: url('../img/css_sprites.png') -10px -524px;
}
.icon_search_w {
    width: 18px; height: 18px;
    background: url('../img/css_sprites.png') -10px -562px;
}
.icon_www_b {
    width: 18px; height: 18px;
    background: url('../img/css_sprites.png') -10px -600px;
}
.icon_x_g {
    width: 26px; height: 25px;
    background: url('../img/css_sprites.png') -10px -1096px;
}
.logo_ch_b {
    width: 35px; height: 40px;
    background: url('../img/css_sprites.png') -10px -1189px;
}
.logo_ch_w {
    width: 35px; height: 40px;
    background: url('../img/css_sprites.png') -10px -1249px;
}
.logo_kh_b {
    width: 36px; height: 40px;
    background: url('../img/css_sprites.png') -10px -1309px;
}
.logo_kh_w {
    width: 36px; height: 40px;
    background: url('../img/css_sprites.png') -10px -1369px;
}
.logo_vn_b {
    width: 40px; height: 45px;
    background: url('../img/css_sprites.png') -10px -1612px;
}
.logo_vn_w {
    width: 40px; height: 45px;
    background: url('../img/css_sprites.png') -10px -1677px;
}
.logo_zh_b {
    width: 35px; height: 40px;
    background: url('../img/css_sprites.png') -10px -1429px;
}
.logo_zh_w {
    width: 35px; height: 40px;
    background: url('../img/css_sprites.png') -10px -1489px;
}
.icon_arrow_b {
    width: 11px; height: 18px;
    background: url('../img/css_sprites.png') -10px -638px;
}

.icon_back_g{
    width: 26px; height: 25px;
    background: url('../img/css_sprites.png') -23px -1096px; 
}

.icon_ehcd{
    width: 57px;
    height: 17px;
    background: url('../img/ehcd.png') /cover;
}

.section__map {
    background: #FBF5E1;
}

#part__1:hover{
    background: #3D5798;    
}